body, html {
    margin: 60px auto;
    width: 65%;
    background-image: "images/white-concrete-wall.jpg";
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
